/* th {
  width: 17%;
}
 td {
   width: 17%;
 } */

 /* body {
   margin: auto;
 } */

 body {
   font-family: 'Verdana';
   text-align: center;
 }

.total {
  font-size: 2rem;
}

.thumbnail {
  border-radius: 50%;
  width: 75%;
}

image {
  padding-top: 15px;
}
